<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tentang</title>

    <style>

        body{
            font-family:Arial;
            background:#dbeafe;
            padding:40px;
        }

        .box{
            background:white;
            max-width:800px;
            margin:auto;
            padding:40px;
            border-radius:20px;
        }

        img{
            width:200px;
            border-radius:20px;
        }

    </style>

</head>
<body>

    <div class="box">

        <h1>Tentang Aplikasi</h1>

        <br>

        <img
            src="{{ url_for('static', filename='images/foto_ahdania.jpeg') }}"
        >

        <br><br>

        <p>
            Aplikasi rekomendasi kost ini dibuat untuk membantu mahasiswa dan
    masyarakat dalam menemukan tempat tinggal yang sesuai dengan kebutuhan,
    fasilitas, serta anggaran yang dimiliki.
        </p>

        <p>
            Berawal dari banyaknya pilihan kost di sekitar lingkungan kampus yang
    sering membuat pencarian menjadi membingungkan, aplikasi ini hadir sebagai
    solusi untuk memberikan rekomendasi kost secara lebih cepat, praktis,
    dan terarah.
        </p>

       <p>
    Sistem akan menampilkan rekomendasi berdasarkan kesamaan fasilitas,
    preferensi pengguna, harga, hingga lokasi kost sehingga pengguna dapat
    memperoleh pilihan yang lebih relevan.
</p>

<p>
    Aplikasi ini menggunakan metode
    <b>Hybrid Recommendation System</b>
    yang merupakan gabungan dari beberapa teknik rekomendasi untuk meningkatkan
    akurasi hasil pencarian.
</p>

<p>
    Metode yang digunakan meliputi:
</p>

<ul>
    <li>Content Based Filtering</li>
    <li>Collaborative Filtering</li>
</ul>

<p>
    Dengan adanya sistem ini, diharapkan proses pencarian kost menjadi lebih
    efisien, nyaman, dan membantu pengguna dalam menentukan pilihan tempat
    tinggal terbaik sesuai kebutuhan mereka.
</p>
        <br>

        <a href="/">
            Kembali
        </a>

    </div>

</body>
</html>